section.page-section.content-block.content-block--border
	.wrapper

		.content-block__body

			.content-block__title 
				.subtitle.subtitle--short доставка

			.content-block__cont

				.delivety
					.delivety__wrapper
						.delivety__content 
							.delivety__title Доставляем электромобили <br> по всей России
							.delivety__text Подробнее о транспортировке электрокаров вам с расскажут специалисты в наших салонах 

						.delivety__img 
							+image('img/delivery/map.png', 900, 435, ' ', '', 'lazy', 'img/product.svg')
