section.page-section.content-block
	.wrapper

		.content-block__body

			.content-block__title 
				.subtitle.subtitle--short Страхование электрокаров

			.content-block__cont

				+data-block(['Альфа-Банк'],['alfa.svg'],['Программа «Альфа-страхование»'])

				+data-block(['Сбер Лизинг'],['sber.svg'],['Программа «Сбер Лизинг»'])
