section.page-section.content-block
	.wrapper

		.content-block__body

			.content-block__title 
				.subtitle.subtitle--short Способы покупки

			.content-block__cont

				.border-block 
					.border-block__grid 
						.border-block__elem 
							.border-block__top
								.border-block__title За наличные

						.border-block__elem 
							.border-block__top
								.border-block__title В кредит

						.border-block__elem 
							.border-block__top
								.border-block__title На Юридическое лицо

						.border-block__elem 
							.border-block__top
								.border-block__title В лизинг
								a(href="#").border-block__btn.link подробнее
							.border-block__info 
								p В стоимость автомобиля входит полный спектр услуг по доставке автомобиля от производителя до конечного покупателя. Отсутствуют какие-либо скрытые платежи или доплаты за доставку или таможенную очистку автомобиля при переходе границы.
								p При внесении 100%* оплаты, вы фиксирует для себя стоимость автомобиля. Все платежи совершаются по счёту, либо наличными в кассу предприятия. Оплата производится в рублях по курсу ЦБ РФ на день платежа.
