section.page-section.content-block
	.wrapper

		.content-block__body

			.content-block__title 
				.subtitle.subtitle--short Предложения партнеров

			.content-block__cont

				+data-block(['СОВКОМБАНКЛИЗИНГ'],['sov.svg'],['Программа «Экспресс»', 'Программа «Экспресс Плюс»'])

				+data-block(['Альфа-Банк'],['alfa.svg'],['Программа «Альфа-Лизинг»'])

				+data-block(['Сбер Лизинг'],['sber.svg'],['Программа «Сбер Лизинг»'])
