section.page-section
	.wrapper
		.compare-empty
			.compare-empty__cont
				.compare-empty__title Нет электрокаров для&nbsp;сравнения
				.compare-empty__text Выберите электрокары и&nbsp;комплектации для&nbsp;сравнения. Вы&nbsp;можете добавить один электрокар в&nbsp;разных комплектациях или&nbsp;сравнить разные модели.
				.compare-empty__btn
					a(href="#").btn.btn--color-primary
						span.btn__text Перейти в каталог
