//- cards
tr.card
	td.card__title-td(align="left")
		table( border="0" cellspacing="0" cellpadding="0" role="presentation")
			tr
				td
					p.card__title-text Заголовок, если он нужен
tr.card
	td(align="center" style="font-size: 0;")
		table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 100%;")
			tr
				td.card__box
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.card__elem(align="center" border="0" cellspacing="0" cellpadding="0" role="presentation")
						tbody.width-100
							tr.width-100.card__border
								td.card__elem-td
									table.card__elem-table(border="0" cellspacing="0" cellpadding="0" role="presentation")
										tr
											td.card__td-img
												img.card__img(src="https://html.xpager.ru/email-template/img/img-plug.png" alt="" border="0" width="100%")
										tr
											td.card__name
												p.card__name-p Название товара
										tr
											td
												p.card__name-price 3600 ₽
												.card__btn
													a.btn(href="https://html.xpager.ru/email-template/") 
														font Купить
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.card__elem(align="center" border="0" cellspacing="0" cellpadding="0" role="presentation")
						tbody.width-100
							tr.width-100.card__border
								td.card__elem-td
									table.card__elem-table(border="0" cellspacing="0" cellpadding="0" role="presentation")
										tr
											td.card__td-img
												img.card__img(src="https://html.xpager.ru/email-template/img/img-plug.png" alt="" border="0" width="100%")
										tr
											td.card__name
												p.card__name-p Название товара
										tr
											td
												p.card__name-price 3600 ₽
												.card__btn
													a.btn(href="https://html.xpager.ru/email-template/") 
														font Купить
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
tr.card
	td(align="center" style="font-size: 0;")
		table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 100%;")
			tr
				td.card__box
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.card__elem(align="center" border="0" cellspacing="0" cellpadding="0" role="presentation")
						tbody.width-100
							tr.width-100.card__border
								td.card__elem-td
									table.card__elem-table(border="0" cellspacing="0" cellpadding="0" role="presentation")
										tr
											td.card__td-img
												img.card__img(src="https://html.xpager.ru/email-template/img/img-plug.png" alt="" border="0" width="100%")
										tr
											td.card__name
												p.card__name-p Название товара
										tr
											td
												p.card__name-price 3600 ₽
												.card__btn
													a.btn(href="https://html.xpager.ru/email-template/") 
														font Купить
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.card__elem(align="center" border="0" cellspacing="0" cellpadding="0" role="presentation")
						tbody.width-100
							tr.width-100.card__border
								td.card__elem-td
									table.card__elem-table(border="0" cellspacing="0" cellpadding="0" role="presentation")
										tr
											td.card__td-img
												img.card__img(src="https://html.xpager.ru/email-template/img/img-plug.png" alt="" border="0" width="100%")
										tr
											td.card__name
												p.card__name-p Название товара
										tr
											td
												p.card__name-price 3600 ₽
												.card__btn
													a.btn(href="https://html.xpager.ru/email-template/") 
														font Купить
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
