tr
	td.footer__head(align="center")
		table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 100%;")
			tr
				td(style="text-align: center; padding: 20px 10px 0 10px")
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.footer__head-column( border="0" cellspacing="0" cellpadding="0" role="presentation" style="text-align: left;")
						tbody.width-100
							tr.width-100
								td.footer__column__td
									table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="text-align: left;")
										tbody.width-100
											tr.width-100
												td
													.footer__text ООО «Название компании»
													.footer__text-gray г. Челябинск, ул. Советская, 46
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.footer__head-column.footer-head-logo( border="0" cellspacing="0" cellpadding="0" role="presentation" style="text-align: right;")
						tbody.width-100
							tr.width-100
								td.footer__column__td
									table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 100%; text-align: left;")
										tr
											td(style="width: 100%;")
												a(href="https://html.xpager.ru/email-template/")
													img.footer__logo(src="https://html.xpager.ru/email-template/img/xpage-logo.png" alt="Logo" border="0" width="100%")
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
tr
	td.footer__bottom(align="center")
		table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 100%;")
			tr
				td(style="text-align: center; padding: 0 10px 0 10px")
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.footer__column( border="0" cellspacing="0" cellpadding="0" role="presentation" style="text-align: left;")
						tbody.width-100
							tr.width-100
								td.footer__column__td
									table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="text-align: left;")
										tr
											td.footer__contact
												p.footer__gray Телефон
												a.footer__text(href="tel:+79993843903") 
													font 8 999 384 39 03
										tr
											td
												p.footer__gray Время работы
												p.footer__text ежедневно с 9:00 до 18:00
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.footer__column( border="0" cellspacing="0" cellpadding="0" role="presentation" style="text-align: right;")
						tbody.width-100
							tr.width-100
								td.footer__column__td
									table(border="0" cellspacing="0" cellpadding="0" role="presentation")
										tr
											td
												a.footer__link-politic(href="https://html.xpager.ru/email-template/", target="_blank") 
													font Политика конфиденциальности
												a.footer__link(href="https://html.xpager.ru/email-template/", target="_blank") 
													font Отписаться от рассылки
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]