tr
	td
		table.header(border="0" cellspacing="0" cellpadding="0" role="presentation")
			tr
				td.header__box
					.header__logo
						a(href="/")
							img.header__logo-img(src="https://html.xpager.ru/email-template/img/xpage-logo.png" alt="Logo" border="0" width="100%")
					.header__text
						a.header__number(href="tel:+79993843903")
							font.font-link 8 999 384 39 03
						.header__phone Телефон
						a.header__link.main-color(href="/" target="_blank") Перейти на сайт
