//- Personal
//- Ваши данные
tr
	td.personal
		table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 100%;")
			thead
				tr
					td.personal__head-td
						p.personal__title Ваши данные
			tr
				td.personal__elem-td
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p Номер заказа
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								//-Все цифры и эл.почты кладем в ссылку, иначе почтовый агент сам обернет в свою ссылку со своими стилями
								a(href="#" rel="nofollow noopener noreferrer").personal__elem-p-info 57839454365
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
			tr
				td.personal__elem-td
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p Имя
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p-info Константинопольский Константин Константинович
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
			tr
				td.personal__elem-td
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td 
								p.personal__elem-p E-mail
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								//-Все цифры и эл.почты кладем в ссылку, иначе почтовый агент сам обернет в свою ссылку со своими стилями
								a(href="#" rel="nofollow noopener noreferrer").personal__elem-p-info post@gmail.com
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
			tr
				td.personal__elem-td
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p Телефон
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								a(href="#" rel="nofollow noopener noreferrer").personal__elem-p-info +7 999 384 39 03
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
//- Данные по заказу
tr
	td.personal
		table(border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 100%;")
			thead
				tr
					td.personal__head-td
						p.personal__title Данные по заказу
			tr
				td.personal__elem-td
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p Способ доставки
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p-info Самовывоз из сервисного центра
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
			tr
				td.personal__elem-td
					//[if (gte mso 9)|(IE)]>
						<(style="font-size: 0; padding: 6px 0 6px 0")table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p Способ оплаты
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p-info Картой при получении
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
			tr
				td.personal__elem-td
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p Адрес
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p-info г. Челябинск, Свердловский проспект, 126б
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
			tr
				td.personal__elem-td
					//[if (gte mso 9)|(IE)]>
						<table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation">
						<tr>
						<td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								p.personal__elem-p Дата заказа
					//[if (gte mso 9)|(IE)]>
						</td><td>
					//<![endif]
					table.personal__elem-box(border="0" cellspacing="0" cellpadding="0" role="presentation")
						tr
							td
								a(href="#").personal__elem-p-info 30.12.2022  12:45
					//[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					//<![endif]
