//- social-block

//- Наше приложение
tr
	td.social
		p.text__p Наше приложение
		.social__imgs
			a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
				img.app-img(src="https://html.xpager.ru/email-template/img/app-store_2.png" alt="" border="0" width="fit-content")
			a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
				img.app-img(src="https://html.xpager.ru/email-template/img/google-play_2.png" alt="" border="0" width="fit-content")
			a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
				img.app-img(src="https://html.xpager.ru/email-template/img/app-gallery_2.png" alt="" border="0" width="fit-content")
//- Мы в соцсетях
tr
	td.social
		p.text__p Мы в соцсетях
		table.social__table(align="left" border="0" cellspacing="0" cellpadding="0" role="presentation")
			tr
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src="https://html.xpager.ru/email-template/img/vk.png" alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src="https://html.xpager.ru/email-template/img/Telegram.png" alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src="https://html.xpager.ru/email-template/img/instagram.png" alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src="https://html.xpager.ru/email-template/img/facebook.png" alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src="https://html.xpager.ru/email-template/img/YouTube.png" alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src="https://html.xpager.ru/email-template/img/ok.png" alt="" border="0" width="40" height="40")
				td.social__box
					a.social__link(href="https://html.xpager.ru/email-template/" target="_blank")
						img.social__img(src="https://html.xpager.ru/email-template/img/Dzen.png" alt="" border="0" width="40" height="40")
