//- table -text-block
.text
	.text__table-box
		//- .text__table
		//-     .text__table-head
		//-         .text__table-head-td-1 Название 1
		//-         .text__table-head-td Название 2
		//-         .text__table-head-td Название 3
		//-         .text__table-head-td-last Название 4

		//-     .text__table-head
		//-         .text__table-tr
		//-             .text__table-td-border-1 Значение
		//-             .text__table-td-border Значение
		//-             .text__table-td-border Значение
		//-             .text__table-td-last Значение
		//-         .text__table-tr
		//-             .text__table-td-border-1 Значение
		//-             .text__table-td-border Значение
		//-             .text__table-td-border Значение
		//-             .text__table-td-last Значение
		//-         .text__table-tr
		//-             .text__table-td-border-1 Значение
		//-             .text__table-td-border Значение
		//-             .text__table-td-border Значение
		//-             .text__table-td-last Значение
		//-         .text__table-tr
		//-             .text__table-td-border-1 Значение
		//-             .text__table-td-border Значение
		//-             .text__table-td-border Значение
		//-             .text__table-td-last Значение
		table.text__table(border="0" cellspacing="0" cellpadding="0" role="presentation")
			thead
				tr.text__table-head
					td.text__table-head-td-1 Название&nbsp;1
					td.text__table-head-td Название&nbsp;2
					td.text__table-head-td Название&nbsp;3
					td.text__table-head-td-last Название&nbsp;4
			tbody
				tr.text__table-tr
					td.text__table-td-border-1 155
					td.text__table-td-border Значение
					td.text__table-td-border 1
					td.text__table-td-last 12
				tr.text__table-tr
					td.text__table-td-border-1 Значение
					td.text__table-td-border Lorem ipsum dolor sit amet.
					td.text__table-td-border Значение
					td.text__table-td-last Значение
				tr.text__table-tr
					td.text__table-td-border-1 Значение
					td.text__table-td-border 12.12.1212
					td.text__table-td-border Значение
					td.text__table-td-last Lorem ipsum dolor sit amet consectetur adipisicing elit.
				tr.text__table-tr
					td.text__table-td-border-1 Значение
					td.text__table-td-border Значение
					td.text__table-td-border Lorem, ipsum dolor.
					td.text__table-td-last Значение
