section.page-section.color-block
	.wrapper.color-block__wrapper
		.color-block__body.color-block__body--light
			.color-block__title
				h2.subtitle Запчасти <br> от производителя

			.color-block__cont
				article.about-block.about-block--grey
					h3.about-block__title Все автолюбители знают, что эффективность батарей электромобилей снижается. Это вызвано тем, что скорость химической реакции в тяговом аккумуляторе замедляется. 

					.about-block__advantages
						.about-block__advantages-item
							.about-block__advantages-text
								p Мы уже успели отметить, что низкая температура замедляет химические реакции в батарее и снижает её эффективность. Так вот, при высоких температурах реакции начинают наоборот, протекать более интенсивно. Но почему же тогда электрокарам вредит жаркая погода?

						.about-block__advantages-item
							.about-block__advantages-text
								p Дело в том, что бурлящие реакции производят больший объём энергии, ускоряя процесс износа батарей. Более того, в жаркую погоду большая часть людей включает кондиционер на полную мощность. А это – дополнительная статья расхода энергии.
