//top
+page-header("О компании", ["Главная", "О компании"], false)


//баннер-блок
include ../sections/about/block-img

//Ключевые особенности
include ../sections/about/benefits

//Города и страны присутствия
include ../sections/about/cities

//Интересный опыт и решения
include ../sections/about/news-slider

// Развиваем инфраструктуру электромобилей в городе
include ../sections/about/infrastructure

// Команда Electrocars
include ../sections/about/team

//История компании ELECTROCARS RUS
include ../sections/about/story

//Отзывы
include ../blocks/sliders/reviews-slider

// form
+application-form('Остались вопросы?')
