section.project-view
	.wrapper
		.pv-title
			a(href="/").pv-logo
				+image('/img/logo.svg').pv-logo__image
			h1.pv-title__text Типовая страница

		.pv-blocks.pv-blocks--list
			.pv-block
				include /blocks/standard-block
