//top
+page-header("Контакты", ["Главная", "Контакты"], false)

// social
include ../sections/contacts/contacts

// реквизиты
include ../sections/contacts/requisites

// form
+application-form('Остались вопросы?')
