//top
+page-header("Оплата <br> и доставка", ["Главная", "Оплата и доставка"], false)

//Способы покупки
include ../sections/delivery/methods

//Предложения партнеров
include ../sections/delivery/ways

//Страхование электрокаров
include ../sections/delivery/insurance

//доставка
include ../sections/delivery/delivety

// form
+application-form('Остались вопросы?')



