//top
+page-header(`Электрокары <br> в лизинг`, ["Главная", "Лизинг"], false)

//баннер-блок
include ../sections/leasing/block-img

//Почему покупка в лизинг – это выгодно
include ../sections/leasing/benefits

//Предложения партнеров
include ../sections/delivery/ways

// form
+callback-form('Получите выгодное предложение на покупку электрокаров')

// slider
include ../sections/leasing/slider
