//top
.page-header
	.wrapper.page-header__wrapper
		+breadcrumbs(["Главная", "Медиа", "Не боятся ли электромобили высоких температур"])

//media
include ../sections/media/media-detal

//В центре внимания
include ../sections/media/spotlight

//Медиа по теме
include ../sections/media/media-other
