//product-banner
include ../sections/product-inner/product-banner

section.page-section.product-inner
	//product-header
	include ../sections/product-inner/product-header

	//Описание
	include ../sections/product-inner/product-desc

	//Цвет
	include ../sections/product-inner/product-color

	//Экстерьер
	include ../sections/product-inner/product-exterior

	//Интерьер
	include ../sections/product-inner/product-interior

	//Запись на тест-драйв
	include ../sections/product-inner/form-block

	//Характеристики
	include ../sections/product-inner/product-feature

	//Заявка на покупку
	include ../sections/product-inner/product-order

	//Новости
	include ../sections/product-inner/media-block

//Отзывы
include ../blocks/sliders/reviews-slider

//калькулятор выгоды
include ../sections/main/calculator-block

//Специальные предложения
include ../sections/product-inner/products-block

//Сео блок
include ../blocks/seo-block
