//top
+page-header(`Аренда <br> электрокаров`, ["Главная", "Аренда"], false)


//баннер-блок
include ../sections/rent/block-img

// Популярные электрокары
include ../sections/rent/pop

// form
+callback-form('Повысьте качество вашего сервиса с помощью электрокаров?')

// Требования  для аренды электрокаров
include ../sections/rent/inf

//часто задаваемые вопросы
include ../sections/main/faq-block

//Отзывы
include ../blocks/sliders/reviews-slider

//Интересный опыт и решения
include ../sections/about/news-slider
