//top
+page-header("Результаты поиска", ["Главная", "Результаты поиска"], false)

//запрос
include ../sections/search/search-request

//Каталог
include ../sections/search/catalog

//Медиа
include ../sections/search/media
