//top
+page-header("Зарядные станции <br> и сервис", ["Главная", "Зарядные станции и сервис"], false)

// map
include ../sections/stations/map

// Electrocars-сервис
include ../sections/stations/benefits

// Запчасти от производителя
include ../sections/stations/color-block

// form
+application-form(`Заказ запчастей и дополнительного <br> оборудования`)

