mixin breadcrumbs(elements)
	nav.breadcrumbs&attributes(attributes)
		.breadcrumbs__wrapper
			ol.breadcrumbs__items
				each breadcrumb, i in elements
					if i === 0
						li.breadcrumbs__item
							a.breadcrumbs__link.link(href="#" aria-current="page")=breadcrumb
					else if i === elements.length - 1
						li.breadcrumbs__item=breadcrumb
					else
						li.breadcrumbs__item
							a.breadcrumbs__link.link(href="#")=breadcrumb
