section.page-section.seo-block
	.wrapper
		.seo-block__cont
			.seo-block__item
				p Electrocars предлагает не только премиальные бренды, но и более доступные автомобили. Ярким примером выступает Neta – марка, стоящая на стыке масс-маркета и люксового сегмента. Она имеет наиболее широкую модельную линейку, начиная с простого сити-кара и заканчивая ярким и динамичным купе.

			.seo-block__item
				p Electrocars предлагает не только премиальные бренды, но и более доступные автомобили. Ярким примером выступает Neta – марка, стоящая на стыке масс-маркета и люксового сегмента. Она имеет наиболее широкую модельную линейку, начиная с простого сити-кара и заканчивая ярким и динамичным купе.
