section.page-section.standard-page
	.wrapper

		.standard-page__grid

			.standard-page__content

				h1.page-title Не боятся ли электромобили <br> высоких температур

				.standard-page__info.media-info
					.media-info__item
						+icon('calendar').media-info__icon
						span.media-info__text 4 октября

					.media-info__item
						+icon('update').media-info__icon
						span.media-info__text 12 октября в 14:51

					.media-info__item
						+icon('views-icon').media-info__icon
						span.media-info__text 1 231

					.media-info__item
						+icon('time-icon').media-info__icon
						span.media-info__text 3 мин

			.standard-page__left 
				.standard-page__elem
					.subtitle Автор
					.author
						.author__box 
							.author__img 
								img(src="/img/media/author.jpg", alt="" loading="lazzy")
							.author__text 
								.author__name Денис Бобылев
								.author__subname Владелец Тесла

				.standard-page__elem 
					.subtitle Поделиться
					ul.standard-page__social
						li.standard-page__item
							a.standard-page__link(href="#") Телеграм
						li.standard-page__item
							a.standard-page__link(href="#") Вотсапп
						li.standard-page__item
							a.standard-page__link(href="#") Вотсапп
						li.standard-page__item
							a.standard-page__link(href="#") Одноклассники
						share-link(#default="{link, copyLink}")
							li.standard-page__item
								.standard-page__link(@click="copyLink('Ссылка успешно скопирована')") Скопировать ссылку

			.standard-page__content.standard-block

				.standard-block__media 
					
					+image('img/content/media.jpg', 1527, 800, ' ', '', 'lazy', 'img/product.svg').standard-block__img
					
			.standard-page__text.standard-block

					.standard-block__tags.tags.tags--blue.tags--size
						span.tags__item #Китайские электромобили
						span.tags__item #Электрокары
						span.tags__item #HiPhi X

					.standard-block__important Все автолюбители знают, что эффективность батарей электромобилей снижается. Это вызвано тем, что скорость химической реакции в тяговом аккумуляторе замедляется. Впрочем, многие электромобили сейчас оснащаются эффективными системами обогрева аккумулятора. Поэтому проблему холодов удалось частично решить. А как влияют на батарею повышенные температуры? Может, они и вовсе полезны для «зелёных» автомобилей? Разбираемся вместе.

					.standard-block__text
						h4 «Любят» ли электромобили высокие температуры

						p Отметим сразу, что оптимальная температура окружающей среды для наиболее эффективной работы батареи и всех систем электропривода – от 20 – 35 градусов по Цельсию. При этом согласно Американской Автомобильной Ассоциации, наиболее комфортная температура для батареи – 21 градус. Выходит, что если ртутный столбик приближается к отметке в 40 градусов, Вашему электромобилю это «нравится» ровно столько же, сколько и Вам.

						p Мы уже успели отметить, что низкая температура замедляет химические реакции в батарее и снижает её эффективность. Так вот, при высоких температурах реакции начинают наоборот, протекать более интенсивно. Но почему же тогда электрокарам вредит жаркая погода? Дело в том, что бурлящие реакции производят больший объём энергии, ускоряя процесс износа батарей. Более того, в жаркую погоду большая часть людей включает кондиционер на полную мощность.
							| А это – дополнительная статья расхода энергии.

						h4 Как электромобили справляются с высокими температурами

						p Чтобы удержать химические реакции в норме и избежать влияния высоких температур, электрокары оснащаются системами контроля температуры. Они бывают активными и пассивными. К первому типу относят систему трубок, по которым циркулирует охлаждающая жидкость. А пассивные системы включают в себя тепловые трубки, использование композитных материалов и специальных термопаст. Обычно, для батареи электромобиля задействуются оба данных элемента.

						p На данный момент, самые продвинутые тяговые батареи оснащаются не только трубками с хладогентом. Специальная жидкость попадает в специальные пластины, которые в свою очередь являются частью тягового аккумулятора. От них отходят тонкие элементы, пролегающие между ячеек аккумулятора. В итоге они полностью изолируют ячейки друг от друга, одновременно охлаждая их. Такая система применяется в батареях крупнейшего китайского производителя CATL.
							| Они устанавливаются на автомобили Zeekr.

						p Более того, при высоких температурах крайне важна система управления энергией тяговой батареи. При повышенной эффективности её работы жаркая погода практически не влияет на состояние электромобиля и его запас хода. Так, недавно мы переводили сравнительный тест электрокаров в самой жаркой пустыне Китая. И среди шести участников испытания лучший результат показал кроссовер Zeekr X. Он проехал 370 км на одном заряде, что составило 74% от заявленного запаса хода. Познакомиться с прочими результатами теста можно на нашем YouTube-канале.

						+image('img/content/media.jpg', 1214, 687, 'alt')
						
						h4 Как помочь автомобилю справляться с жарким климатом?

						p Как мы успели увидеть, сейчас многие электромобили достаточно эффективно справляются с повышенными температурами. Но как облегчить их жизнь и повысить их эффективность в жаркие дни?

						p Прежде всего, старайтесь не оставлять электрокар под прямыми лучами солнца. Лучше оставлять автомобиль в тени. А лучшим решением при этом будет прохладный гараж. Избегайте резких разгонов и торможений, ведь данные действия вызывают всплески энергии. А в тяговой батарее в жаркое время и без того повышенное энергопотребление. Старайтесь заряжать электромобиль ночью от домашней зарядной станции переменного тока. Зарядная сессия от мощной станции постоянного тока в жаркий день может сократить ресурс аккумулятора. При этом заряжать батарею лучше до 80%, а не до максимума.

						ul 
							li Тяговая батарея
							li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
							li Элементы кузова
							li Двигатель
							li Рулевой механизм в сборе
							li и другие

						h5 Выделенный текст
						figure.text-strong
							p Элемент «Выделенный текст». (figure.text-strong), который используется для выделения особо важной информации.
							p Услуги по реализации товаров «интернет-аптека piluli.ru» осуществляются на условиях соблюдения законодательства продавцом и покупателем. Продавец принимает на себя обязательства по предоставлению услуг как физическим, так и юридическим лицам
							figcaption Подпись

						.text-important
							h5 Важно
							p Элемент «Важно». (класс text-important), который используется для выделения особо важной информации. И еще немного специально написанного текста, чтобы получилось несколько строк для наглядности.

						figure.text-blockquote
							h5 Цитаты
							blockquote
								p «Услуги по реализации товаров „интернет-аптека piluli.ru“ осуществляются на условиях соблюдения законодательства продавцом и покупателем. Продавец принимает на себя обязательства по предоставлению услуг как физическим, так и юридическим лицам»
							figcaption Иван Геннадьевич Савельев, генеральный директор
