.standard-block
	.standard-block__banner
		.standard-block__banner-img
			+image('img/content/banner.jpg', 1140, 641)
		.standard-block__banner-text
			p Подпись к фотографии, которая может состоять из одной или двух строк

	.standard-block__text
		h2 Несколько <br> двухстрочных заголовков
		p Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, <a href="#">озаглавливают</a>
		p Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, <b>озаглавливают</b>
		h3 Несколько <br> двухстрочных заголовков
		p Картинка в тексте
			figure
				+image('img/content/banner.jpg', 1140, 641)
				figcaption Подпись к фото

		p Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают
		p Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают
		h4 Несколько <br> двухстрочных заголовков
		p Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают
		p Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают


	.standard-block__slider
		h4 Слайдер
		content-slider
			template(#default)
				.swiper-slide
					.standard-block__slider-img
						+image('img/content/banner.jpg', 1140, 641)
					.standard-block__slider-text
						p Подпись к фотографии, которая может состоять из одной или двух строк
				.swiper-slide
					.standard-block__slider-img
						+image('img/content/banner.jpg', 1140, 641)
					.standard-block__slider-text
						p Подпись к фотографии, которая может состоять из одной или двух строк Подпись к фотографии, которая может состоять из одной или двух строк
				.swiper-slide
					.standard-block__slider-img
						+image('img/content/banner.jpg', 1140, 641)
					.standard-block__slider-text
						p Подпись к фотографии, которая может состоять из одной или двух строк

	.standard-block__text
		h5 Текст с картинкой
		p
			+image('img/content/photo.jpg', 270, 152)(align="left")
			| Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают
		p
			+image('img/content/photo.jpg', 270, 152)(align="right")
			| Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают

	.standard-block__text
		h5 Списки
		p Для уменьшения расстояния между параграфом и связанным с ним списком, параграфу нужно добавлять класс «Перед списком»
		p Кроме того, существуют правила оформления списков:
		ul
			li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
			li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).
				ol
					li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
					li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).
			li Если пункты списка длинные и представляют
				ul
					li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
					li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться
		p &nbsp;
		p Кроме того, существуют правила оформления списков:
		ol
			li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
				ul
					li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
					li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны
			li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).
				ol
					li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
					li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться
						ol
							li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
							li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться

		h5 Таблица
		table
			thead
				tr
					td Название 1
					td Название 2
					td Название 3
					td Название 4
					td Название 5
			tbody
				tr
					td Значение 1
					td Значение 2
					td 5 000 руб.
					td 35 дней
					td 35 дней
				tr
					td Значение 1
					td Значение 2
					td 5 000 руб.
					td 35 дней
					td 35 дней
				tr
					td Значение 1
					td Значение 2
					td 5 000 руб.
					td 35 дней
					td 35 дней
				tr
					td Значение 1
					td Значение 2
					td 5 000 руб.
					td 35 дней
					td 35 дней

		h5 Видео
		iframe(width='560' height='315' src='https://www.youtube.com/embed/syxYgWDYp80' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')


		h4 Для блоков ниже можно создать сниппеты, чтобы было удобно их заполнять

		.text-important
			h5 Важно
			p Элемент «Важно». (класс text-important), который используется для выделения особо важной информации.
			p И еще немного специально написанного текста, чтобы получилось несколько строк для наглядности.

		h5 Выделенный текст
		figure.text-strong
			p Элемент «Выделенный текст». (figure.text-strong), который используется для выделения особо важной информации.
			p Услуги по реализации товаров «интернет-аптека piluli.ru» осуществляются на условиях соблюдения законодательства продавцом и покупателем. Продавец принимает на себя обязательства по предоставлению услуг как физическим, так и юридическим лицам
			figcaption Подпись


		h5 Цитаты
		figure.text-blockquote
			blockquote
				p Наша компания является примером того, как можно реализовать успешный проект без государственной помощи и привлечения иностранного капитала.
				p Почему нас выбирают? За качество упаковки, возможность реализовать конструктив любой сложности и подтвержденная делом, искренняя забота о клиентах и будущих поколениях.
			figcaption Иван Геннадьевич Савельев, генеральный директор


