section.page-section.block-img
	.content-block
		.wrapper

			.content-block__body

				.content-block__cont.benefits
					.benefits__grid 
						.benefits__elem.benefits-card
							.benefits-card__title 50+ уникальных <br>авто
							.benefits-card__text Наша коллекция включает автомобили от ведущих производителей со всего мира, что позволяет предложить вам широкий выбор электрокаров.

						.benefits__elem.benefits-card
							.benefits-card__title Круглосуточная техническая поддержка
							.benefits-card__text Высококвалифицированная команда специалистов всегда готова ответить на вопросы и предоставить необходимые консультации в случае проблем.

						.benefits__elem.benefits-card
							.benefits-card__title Доставка и прием <br>автомобилей 24/7
							.benefits-card__text Компания предлагает доставку и прием автомобилей круглосуточно, чтобы обеспечить потребности клиентов в любое удобное для них время.


	.block-img__picture 
		+image('img/rent/rent.jpg', 1920, 800, ' ', '', 'lazy', 'img/product.svg').block-img__img
