section.page-section.content-block.content-block--border
	.wrapper

		.content-block__body

			.content-block__title 
				.subtitle Развиваем инфраструктуру электромобилей в городе

			.content-block__cont.benefits
				.benefits__grid.benefits__grid--chess
					.benefits__elem.benefits-card
						.benefits-card__title Возрастные ограничения
						.benefits-card__text 
							p Для аренды электрокара требуется возраст от 18 лет и наличие водительского удостоверения, действительного не менее 1 года.

					.benefits__elem.benefits-card
						.benefits-card__title Залог и оплата
						.benefits-card__text
							p При аренде электрокара требуется предоставить залог в виде депозита на случай возможных повреждений или штрафов. Оплата за аренду электрокара производится заранее или по договоренности согласно выбранному тарифу.

					.benefits__elem.benefits-card
						.benefits-card__title Соблюдение правил использования
						.benefits-card__text 
							p Водитель должен строго соблюдать правила дорожного движения и безопасности, а также руководствоваться правилами использования электрокаров, предоставленными компанией.

					.benefits__elem.benefits-card
						.benefits-card__title Обязательная зарядка и возврат автомобиля
						.benefits-card__text
							p Арендатор обязан возвращать электрокар с достаточным зарядом батареи, согласно указаниям компании.
							p При отсутствии возможности зарядить автомобиль, арендатор должен обратиться в компанию для получения инструкций и рекомендаций.
