section.page-section.content-block
	.wrapper

		.content-block__body

			.content-block__title 
				.subtitle.subtitle--short Популярные электрокары

			.content-block__cont

				+info-block(['HiPhi X', 'Li 9', 'Rising R7'])
