section.page-section.content-block.content-block--border
	.wrapper

		.content-block__body

			.content-block__title 
				.subtitle Почему покупка <br> в лизинг – это выгодно

			.content-block__cont.benefits
				.benefits__grid 
					.benefits__elem.benefits-card
						.benefits-card__title Экспертиза в электромобилях
						.benefits-card__text Компания является экспертом в области электромобилей и обладает глубокими знаниями о последних разработках и трендах в этой области.

					.benefits__elem.benefits-card
						.benefits-card__title Широкий ассортимент моделей
						.benefits-card__text Выбор электрокаров различных марок, моделей и конфигураций, что позволяет клиентам найти автомобиль, соответствующий их потребностям

					.benefits__elem.benefits-card
						.benefits-card__title Комплексный сервис и&nbsp;поддержка
						.benefits-card__text Установка зарядных станций, обучение по использованию электрокаров, гарантийное обслуживание и регулярное техобслуживание.

