section.page-section.block-img

	.block-img__picture 
		+image('img/leasing/leasing.jpg', 1920, 800, ' ', '', 'lazy', 'img/product.svg').block-img__img

	.wrapper
		.block-img__grid 
			h2.block-img__title Мы предлагаем гибкие решения в сфере финансирования, адаптированные под потребности клиента. Благодаря сотрудничеству с ведущими финансовыми институтами мы можем сформировать для вас индивидуальное предложение.
