section#test-drive.page-section
	.wrapper
		.form-block
			.form-block__bg
				+image('img/form-bg-xl.webp', '1213', '629', ' ', [{file:"img/form-bg-mob.webp", mediaQuery:"max-width", breakpoint:"768"}]).form-block__bg-img

			h2.form-block__title Почувствуйте себя владельцем <br> современного электрокара

			.form-block__form
				form-test-drive
