section#product-feature.page-section.content-block.content-block--product
	.wrapper.content-block__wrapper
		.content-block__body
			.content-block__title
				h2.subtitle Комплектации <br> и&nbsp;характеристики

			.content-block__cont
				article.product-feature
					.product-feature__top
						.product-feature__sort
							.product-sort
								span.product-sort__label Комплектация

								base-dropdown(show-on-click).product-feature__dropdown
									template(#trigger-text)
										| 6 местная
									template(#dropdown)
										.dropdown__items
											a.dropdown__item(href="#") 6 местная
											a.dropdown__item(href="#") 4 местная

							//equipment-select

						.product-feature__btn
							button.btn.btn--border
								span.btn__text Сравнить
								+icon('caret').btn__icon

					.product-feature__list
						base-accordion.product-feature__item
							template(#title)
								| Основные <br>
								| характеристики
							template(#body)
								.product-feature__row
									.product-feature__col
										.product-feature__el
											span.product-feature__label Длина&nbsp;(мм)
											span.product-feature__text 5 200
										.product-feature__el
											span.product-feature__label Ширина (мм)
											span.product-feature__text 2198 / 2062 (сложенное зеркало)
										.product-feature__el
											span.product-feature__label Высота&nbsp;(мм)
											span.product-feature__text 1618
										.product-feature__el
											span.product-feature__label Колесная база&nbsp;(мм)
											span.product-feature__text 3150
										.product-feature__el
											span.product-feature__label Радиус разворота&nbsp;(м)
											span.product-feature__text 5,8

									.product-feature__col
										.product-feature__el
											span.product-feature__label Коэффициент сопротивления&nbsp;(Cd)
											span.product-feature__text 0,27
										.product-feature__el
											span.product-feature__label Вес кузова&nbsp;(кг)
											span.product-feature__text 2580
										.product-feature__el
											span.product-feature__label Сиденья
											span.product-feature__text 6
										.product-feature__el
											span.product-feature__label Емкость багажника&nbsp;(л)
											span.product-feature__text 204 (616 третий ряд разложен)
										.product-feature__el
											span.product-feature__label Емкость переднего багажного <br> отделения&nbsp;(л)
											span.product-feature__text 29

						base-accordion.product-feature__item
							template(#title)
								| Силовые <br>
								| характеристики
							template(#body)
								.product-feature__row
									.product-feature__col
										.product-feature__el
											span.product-feature__label Длина&nbsp;(мм)
											span.product-feature__text 5 200
										.product-feature__el
											span.product-feature__label Ширина (мм)
											span.product-feature__text 2198 / 2062 (сложенное зеркало)
										.product-feature__el
											span.product-feature__label Высота&nbsp;(мм)
											span.product-feature__text 1618
										.product-feature__el
											span.product-feature__label Колесная база&nbsp;(мм)
											span.product-feature__text 3150
										.product-feature__el
											span.product-feature__label Радиус разворота&nbsp;(м)
											span.product-feature__text 5,8

									.product-feature__col
										.product-feature__el
											span.product-feature__label Коэффициент сопротивления&nbsp;(Cd)
											span.product-feature__text 0,27
										.product-feature__el
											span.product-feature__label Вес кузова&nbsp;(кг)
											span.product-feature__text 2580
										.product-feature__el
											span.product-feature__label Сиденья
											span.product-feature__text 6
										.product-feature__el
											span.product-feature__label Емкость багажника&nbsp;(л)
											span.product-feature__text 204 (616 третий ряд разложен)
										.product-feature__el
											span.product-feature__label Емкость переднего багажного <br> отделения&nbsp;(л)
											span.product-feature__text 29

						base-accordion.product-feature__item
							template(#title)
								| Управление <br>
								| энергией
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
									ul
										li Тяговая батарея
										li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
										li Элементы кузова
										li Двигатель
										li Рулевой механизм в сборе
										li и другие

						base-accordion.product-feature__item
							template(#title)
								| Система <br>
								| шасси
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
									ul
										li Тяговая батарея
										li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
										li Элементы кузова
										li Двигатель
										li Рулевой механизм в сборе
										li и другие


						base-accordion.product-feature__item
							template(#title)
								| Системы <br>
								| безопасности
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
									ul
										li Тяговая батарея
										li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
										li Элементы кузова
										li Двигатель
										li Рулевой механизм в сборе
										li и другие

						base-accordion.product-feature__item
							template(#title)
								| Освещение
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
									ul
										li Тяговая батарея
										li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
										li Элементы кузова
										li Двигатель
										li Рулевой механизм в сборе
										li и другие

						base-accordion.product-feature__item
							template(#title)
								| Внешняя <br>
								| конфигурация
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
									ul
										li Тяговая батарея
										li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
										li Элементы кузова
										li Двигатель
										li Рулевой механизм в сборе
										li и другие


						base-accordion.product-feature__item
							template(#title)
								| Сиденья
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
									ul
										li Тяговая батарея
										li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
										li Элементы кузова
										li Двигатель
										li Рулевой механизм в сборе
										li и другие


						base-accordion.product-feature__item
							template(#title)
								| Настройки <br>
								| кабины
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
									ul
										li Тяговая батарея
										li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
										li Элементы кузова
										li Двигатель
										li Рулевой механизм в сборе
										li и другие


						base-accordion.product-feature__item
							template(#title)
								| HiPhi ассистент <br>
								| водителя
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
									ul
										li Тяговая батарея
										li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
										li Элементы кузова
										li Двигатель
										li Рулевой механизм в сборе
										li и другие
