section.product-header
	.wrapper.product-header__cont
		.product-header__actions
			a(href="#test-drive").btn.btn--size-medium.btn--color-primary
				span.btn__text Записаться на тест-дравйв
			a(href="#order").btn.btn--size-medium.btn--color-secondary
				span.btn__text Отправить заявку
			button.btn.btn--size-medium.btn--color-fourth
				span.btn__text Сравнить
				+icon('caret').btn__icon

		nav.product-header__nav
			a(href="#product-desc").link.link--simple Описание
			a(href="#product-color").link.link--simple Цвет
			a(href="#product-exterior").link.link--simple Экстерьер
			a(href="#product-interior").link.link--simple Комплектации
			a(href="#product-feature").link.link--simple Характеристики
			a(href="#product-media").link.link--simple Статьи и обзоры
