extends /base/_head
block vars
	- let title = 'Что-то пошло не так'
	- let layoutClass = 'layout'
	- let bodyClass = null

block content
	include /sections/header
	include /sections/mobile-header

	main.page.page-error
		include /pages/404

	include /sections/footer
