extends /base/_head
block vars
	- let title = 'Лизинг'
	- let layoutClass = 'layout'
	- let bodyClass = null

block content
	include /sections/header
	include /sections/mobile-header

	main.page.page-leasing
		include /pages/leasing

	include /sections/footer
