extends /base/_head
block vars
	- let title = 'Аренда'
	- let layoutClass = 'layout'
	- let bodyClass = null

block content
	include /sections/header
	include /sections/mobile-header

	main.page.page-rent
		include /pages/rent

	include /sections/footer
