section.page-section.contacts
	.wrapper

		.contacts__socials.socials
			a(href="#").socials__item
				+image("img/socials/yt.svg",32,32).socials__item-icon
			a(href="#").socials__item
				+image("img/socials/vk.svg",32,32).socials__item-icon
			a(href="#").socials__item
				+image("img/socials/telegram.svg",32,32).socials__item-icon
			a(href="#").socials__item
				+image("img/socials/dzen.svg",32,32).socials__item-icon
			a(href="#").socials__item
				+image("img/socials/web.svg",32,32).socials__item-icon

		.contacts__address

			.address-block 
				address.address-block__name Челябинск <br> ул. Свободы, 91 к. 1а
				.address-block__box 
					.address-block__title Телефон
					a(href="tel:+73517507750").address-block__info +7 351 750 77 50
				.address-block__box 
					.address-block__title Почта
					a(href="mailto:mail@gmail.com").address-block__info mail@gmail.com

			.address-block 
				address.address-block__name Екатеринбург <br> ул. Мамина-Сибиряка, 140
				.address-block__box 
					.address-block__title Телефон
					a(href="tel:+73517507750").address-block__info +7 351 750 77 50
				.address-block__box 
					.address-block__title Почта
					a(href="mailto:mail@gmail.com").address-block__info mail@gmail.com

		.contacts__map 
			img(src="../img/map-big.jpg" width="1840" height="800" loading="lazy").contacts__map-img

