.media__list 
	each item, index in ['Electrocars привозит в Россию автомобили RISING', 'Сколько служат батарея и мотор электромобиля?', 'HiPhi X – главная перчинка ресторанного форума']
		+media-card(item, index + 1)
	each item, index in ['Electrocars привозит в Россию автомобили RISING', 'Сколько служат батарея и мотор электромобиля?', 'Производитель накопителей электроэнергии VOLTS и поставщик электромобилей и зарядных станций Electrocars Rus подписали партнерское соглашение']
		+media-card(item, index + 1)
	each item, index in ['Electrocars привозит в Россию автомобили RISING', 'Сколько служат батарея и мотор электромобиля?', 'Производитель накопителей электроэнергии VOLTS и поставщик электромобилей и зарядных станций Electrocars Rus подписали партнерское соглашение']
		+media-card(item, index + 1)
	each item, index in ['Electrocars привозит в Россию автомобили RISING', 'Сколько служат батарея и мотор электромобиля?', 'Производитель накопителей электроэнергии VOLTS и поставщик электромобилей и зарядных станций Electrocars Rus подписали партнерское соглашение']
		+media-card(item, index + 1)
