section.page-section.media
	.wrapper 

		.section-control

			.section-control__box.section-control__box--border.section-control__box--flex
				.section-control__left
					base-tabs(:tabs="[{label: 'Все медиа', value: 0}, {label: 'Статьи', value: 1}, {label: 'Новости', value: 2}, {label: 'Обзоры', value: 3}]" type="switcher" )
				.section-control__search
					input-search(placeholder="Поиск" id="media-search" label='Поиск')

			.section-control__box.section-control__box--border.section-control__box--flex.section-control__box--gap.section-control__box--align
				.section-control__subtitle Результаты поиска
				.section-control__info 
					.section-control__title HiPhi X
					.section-control__result Найдено: 32

			.section-control__box
				.tabs
					.tab
						span.tab__text #Новости салона
					.tab
						span.tab__text #Технологии
					.tab
						span.tab__text #Модели
					.tab
						span.tab__text #События

			.section-control__box.media__select.catalog-sort
				span.catalog-sort__label Сортировка:
				base-dropdown(show-on-click).catalog-sort__dropdown
					template(#trigger-text)
						| По популярности
					template(#dropdown)
						.dropdown__items
							a.dropdown__item(href="#") По популярности
							a.dropdown__item(href="#") Новые



		.media__select 
			row-select(:model-value="['По популярности']" placeholder="" id="media-select" label="Сортировка:" :options="['По популярности', 'Extremely По популярности', 'Новые']")

		include media-list

		include media-pagination

