section.page-section.media
	.wrapper 

		.section-control

			.section-control__box.section-control__box--border.section-control__box--flex
				.section-control__left
					base-tabs(:tabs="[{label: 'Все медиа', value: 0}, {label: 'Статьи', value: 1}, {label: 'Новости', value: 2}, {label: 'Обзоры', value: 3}]" type="switcher" )
				.section-control__search
					input-search(placeholder="Поиск" id="media-search" label='Поиск')

			.section-control__box.section-control__box--border.section-control__box--flex.section-control__box--gap.section-control__box--align
				.section-control__subtitle Результаты поиска
				.section-control__info 
					.section-control__title Хипхи икс
					.section-control__result Найдено: 0

		h2.media__subtitle Популярные статьи

		include media-list

