section.page-section.color-block
	.wrapper.color-block__wrapper
		.color-block__body.color-block__body--medium
			.color-block__title
				h2.subtitle О компании

			.color-block__cont
				article.about-block
					h3.about-block__title ELECTROCARS RUS  —  это&nbsp;электромобили с&nbsp;гарантией по&nbsp;всей стране. У&nbsp;нас вы&nbsp;можете заказать любой понравившийся электромобиль на&nbsp;рынке

					.about-block__advantages
						.about-block__advantages-item
							.about-block__advantages-name Широкий ассортимент моделей
							.about-block__advantages-text
								p Выбор электрокаров различных марок, моделей и&nbsp;конфигураций, что позволяет клиентам найти автомобиль, соответствующий их&nbsp;потребностям

						.about-block__advantages-item
							.about-block__advantages-name Экспертиза в&nbsp;электромобилях
							.about-block__advantages-text
								p Компания является экспертом в&nbsp;области электромобилей и&nbsp;обладает глубокими знаниями о&nbsp;последних разработках и&nbsp;трендах в&nbsp;этой области.

						.about-block__advantages-item
							.about-block__advantages-name Комплексный сервис и&nbsp;поддержка
							.about-block__advantages-text
								p Установка зарядных станций, обучение по&nbsp;использованию электрокаров, гарантийное обслуживание и&nbsp;регулярное техобслуживание.
