section.page-section.color-block
	.wrapper.color-block__wrapper
		.color-block__body.color-block__body--light
			.color-block__title
				h2.subtitle Часто задаваемые <br> вопросы

			.color-block__cont
				article.faq-block
					.faq-block__cont
						base-accordion.faq-block__item
							template(#title)
								| Где можно зарядить автомобиль? <br>
								| Можно ли заряжаться дома?
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
								ul
									li Тяговая батарея
									li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
									li Элементы кузова
									li Двигатель
									li Рулевой механизм в сборе
									li и другие

						base-accordion.faq-block__item
							template(#title)
								| На сколько дается гарантия после покупки?
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
								ul
									li Тяговая батарея
									li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
									li Элементы кузова
									li Двигатель
									li Рулевой механизм в сборе
									li и другие

						base-accordion.faq-block__item
							template(#title)
								| Где обслуживать электромобиль <br>
								| после покупки?
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
								ul
									li Тяговая батарея
									li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
									li Элементы кузова
									li Двигатель
									li Рулевой механизм в сборе
									li и другие

						base-accordion.faq-block__item
							template(#title)
								| На каком языке интерфейс? <br>
								| Какой языковой пакет в машине?
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
								ul
									li Тяговая батарея
									li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
									li Элементы кузова
									li Двигатель
									li Рулевой механизм в сборе
									li и другие

						base-accordion.faq-block__item
							template(#title)
								| Могу ли взять электромобиль на тест-драйв?
							template(#body)
								p Гарантия распространяется на лакокрасочное покрытие и основные узлы и агрегаты:
								ul
									li Тяговая батарея
									li Электрические компоненты (детали и системы, которые должны находиться под напряжением для выполнения своих функций, за исключением расходных материалов)
									li Элементы кузова
									li Двигатель
									li Рулевой механизм в сборе
									li и другие
