section.page-section.map-block
	.wrapper.map-block__wrapper
		.map-block__top
			.map-block__tabs
				base-tabs(:tabs="[{label: 'Зарядные станции', value: 0}, {label: 'Сервисные центры', value: 1}]" type="switcher" )

			.map-block__city
				city-select

		.map-block__cont
			.map-block__map
				//charging-service-map
				img(src="../img/map.webp" width="1213" height="589" loading="lazy").map-block__map-img

			.map-block__aside
				.banner
					.banner__title Скачайте приложение <br> для&nbsp;быстрого доступа <br> к&nbsp;зарядным станциям <br> города
					.banner__bottom
						.banner__actions
							.banner__code
								img(src="../img/code.png" width="120" height="120" loading="lazy").banner__code-img

							.banner__apps
								a(href="#").banner__apps-link
									img(src="../img/app-store.svg" width="122" height="36" loading="lazy").banner__apps-img
								a(href="#").banner__apps-link
									img(src="../img/google-play.svg" width="122" height="36" loading="lazy").banner__apps-img

						.banner__bg
							img(src="../img/banner-bg.svg" width="348" height="242" loading="lazy").banner__bg-img
