base-modal(id="review-details-1" v-slot="{close}")
	.modal.modal--wide
		button(@click="close").modal__close
			+icon('close').modal__close-icon

		.modal__wrapper
			.modal__top
				h3.modal__title Юрий С.
				p.modal__subtitle 19 Августа 2021

			.modal__body
				p.modal__text Я арендовал HiPhi X на выходные и остался в полном восторге! Этот электрокар не только выглядит современно и стильно, но и обладает потрясающей производительностью. Заряда батареи хватило на все мои поездки, а система быстрой зарядки была настоящим спасением. Рекомендую эту модель всем, кто хочет насладиться комфортом и безупречным управлением электрокара!

				p.modal__text Я арендовал HiPhi X на выходные и остался в полном восторге! Этот электрокар не только выглядит современно и стильно, но и обладает потрясающей производительностью. Заряда батареи хватило на все мои поездки, а система быстрой зарядки была настоящим спасением. Рекомендую эту модель всем, кто хочет насладиться комфортом и безупречным управлением электрокара!

			.modal__bottom
				.reviews-card__product.product-preview
					+image("img/reviews/product-1.webp",120,72).product-preview__img
					.product-preview__name HiPhi Y
					a(href="#").product-preview__link Подробнее
