section.page-section.block-img

	.block-img__picture 
		+image('img/about/about-main.jpg', 1920, 800, ' ', '', 'lazy', 'img/product.svg').block-img__img

	.wrapper
		.block-img__grid 
			h2.block-img__title ELECTROCARS RUS  —  это электромобили с гарантией по всей стране. У нас вы можете заказать любой понравившийся электромобиль на рынке
