section.page-section.content-block
	.wrapper

		.content-block__body

			.content-block__title 
				.subtitle Города и страны <br> присутствия

			.content-block__cont.cities
				.cities__grid 
					.cities__list 
						.cities__item 
							.cities__name Россия
							.cities__box 
								.cities__subname Челябинск
								.cities__subname Екатеринбург

						.cities__item 
							.cities__name Казахстан

						.cities__item 
							.cities__name Кыргызстан

					.cities__map 
						+image('img/about/cities-map.jpg', 1057, 640, ' ', '', 'lazy', 'img/product.svg').cities__img
