//- +application-form('Остались вопросы?')

mixin application-form(title)

	section.page-section(id="application")
		.wrapper
			.form-block
				h1.form-block__title !{title}

				.form-block__form.form-block__form--big

					application-form

