//- +callback-form('Остались вопросы?')

mixin callback-form(title)

	section.page-section(id="callback")
		.wrapper
			.form-block
				h1.form-block__title=title

				.form-block__form

					callback-form
