.section-control
	.wrapper 

		.section-control__box.section-control__box--flex.section-control__box--align
			.section-control__subtitle запрос
			.section-control__info 
				.section-control__title HiPhi X
				.section-control__result Найдено: 24
